/codec/build/CMakeCache.txt
/codec/build/*
/codec/CMakeLists.txt
/codec/codec.cpp
/codec/CMakeLists.txt.user
/build/*
/.cache
/CMakeLists.txt.user
/cloudini_lib/CMakeLists.txt.user
/cloudini_lib/build/
*.mcap
