name: ROS2 Humble

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-jammy-ros-humble-ros-base-latest
    steps:
      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - uses: ros-tooling/action-ros-ci@v0.4
        with:
          package-name: |
            cloudini_lib
            cloudini_ros
          target-ros2-distro: humble
